@import "fonts.css";
        
body, html {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #ebf1f9;
    height: 100%;
    color: #414447;
    font-size: 16px;
    line-height: 1;
    font-weight: 300;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}

h2{
    font-size: 20px;
    line-height: 1;
}

ul,ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

label{
    margin-bottom: 0;
}

table {
    width:100%;
    border-collapse: collapse;
}

table, td, th{
    outline: none;
    border:none;
}

input{
    outline: none;
    font-family: inherit;
}

td{
    cursor: pointer;
}

th{
    outline: none;
    cursor: pointer;
}

select{
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    background-color: transparent;
    outline: none;
}


h1,h2,h3,h4{
    color: #292a2c;
    font-weight: 400;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 18px;
}


@media (max-width: 992px) {

    h1{
        font-size: 22px;
    }

    h2{
        font-size: 20px;
    }
}

img{
    width: 100%;
    height: auto;
}

a{
    cursor: pointer;
    color: #414447;
    font-family: inherit;
    text-decoration:none;
    outline: none; 
}

a:hover,
a:focus,
a:active{
    color: inherit;
    text-decoration: none;
} 

button{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
  
.services {
    margin-bottom: 30px;
}

.services__list{
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.services__item {
    padding: 0 5px;
    margin-bottom: 20px;
}

.services__link {
    position:relative;
    color: #4d5d74;
    background-color: #fff;
    text-align: center;
    display: block;
    -webkit-box-shadow: 0px 2px 5px 0px #c2d0e4;
            box-shadow: 0px 2px 5px 0px #c2d0e4;
}

.services__link::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    background-image: url("../images/services_sprites.png");
    background-repeat: no-repeat;

}

.services__link-ac {
    border-top: 2px solid #69abe2;
}

.services__link-ac::before {
    background-position: -222px -10px;
    height: 59px;
    width: 55px;
}

.services__link-as {
    border-top: 2px solid #ffae00;
}

.services__link-as::before {
    background-position: -297px -10px;
    height: 65px;
    width: 61px;
}

.services__link-ss {
    border-top: 2px solid #a97ab7;
}

.services__link-ss::before {
    background-position: -378px -10px;
    height: 58px;
    width: 72px;
}

.services__link-m {
    border-top: 2px solid #a4b960;
}

.services__link-m::before {
    background-position: -10px -10px;
    height: 71px;
    width: 48px;
}

.services__link-ca {
    border-top: 2px solid #60a3f6;
}

.services__link-ca::before {
    background-position: -147px -10px;
    height: 55px;
    width: 55px;
}

.services__link-ra {
    border-top: 2px solid #e1b68c;
}

.services__link-ra::before {
    background-position: -78px -10px;
    height: 65px;
    width: 49px;
}

.services__link:hover {
    text-decoration: underline;
}

.services__link-text {
    display: block;
    line-height: 17px;
    padding: 100px 0 25px;
    font-weight: 400;
}

.advantages{
    margin-bottom: 60px;
}

@media (max-width: 575px) {
    .advantages{
        margin-bottom: 20px;
    }
}

.advantages__main-title {
    margin-bottom: 20px;
    text-align: center;
}

.advantages__list {
    padding-top: 20px;
    border-top: 1px solid #D9DFE8;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.advantages__item {
    position: relative;
    text-align: center;
    line-height: 15px;
    margin-bottom: 20px;
}

 .advantages__item::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    background-image: url("../images/advantges_sprites.png");
    background-repeat: no-repeat;
}

.advantages__title {
    margin-bottom: 5px;
    padding-top: 125px;
}

.advantages__item-bb::before {
    background-position: -236px -10px;
    height: 93px;
    width: 93px;
}   

.advantages__item-ah::before {
    background-position: -10px -10px;
    height: 93px;
    width: 93px;
}   

.advantages__item-lh::before {
    background-position: -349px -10px;
    height: 93px;
    width: 93px;
}   

.advantages__item-lc::before {
    background-position: -123px -10px;
    height: 93px;
    width: 93px;
}   

.info{
    margin-bottom: 70px;
}

.info__wrapper {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(194, 208, 228, 0.49);
            box-shadow: 0px 2px 5px 0px rgba(194, 208, 228, 0.49);
    padding: 30px 25px 60px;
}

.info__title {
    margin-bottom: 30px;
}

.info__text {
    margin-bottom: 30px;
    line-height: 20px;
}

.info__item {
    line-height: 30px;
    margin-bottom: 1px;
      counter-increment: my-awesome-counter;
}

.info__list{
  counter-reset: my-awesome-counter;
  margin-bottom: 30px;
}  

.info__list:last-child {
    margin-bottom: 0;
}

.info__item::before {
  margin-right: 5px;    
  content: counter(my-awesome-counter);
  color: red;
}

.proposals{
    margin-bottom: 20px;
}
.proposals__item {
    cursor: pointer;
    font-weight: 300;
    margin-bottom: 30px;
    max-width: 500px;
    margin-bottom: 20px;
    display: block;
}
.proposals__item:hover,
.proposals__item:focus{
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}

.proposals__item:hover .proposals__link {
    display: block;
    z-index: 3;
}

.proposals__item:hover .proposals__img::before {
    display: block;
}

.proposals__img{
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
}

.proposals__img-wrapper{
    position: relative;
    color: #fff;
}

.proposals__img-wrapper::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}



.proposals__item:hover .proposals__img-wrapper::before {
    display: block;
}

.proposals__link {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    text-align: center;
    display: none;
}   

.proposals__link:hover::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 120px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -5px;
    background-color: #84858d;
}

.proposals__rooms {
    z-index: 4;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 400;
}

.proposals__sale {
    z-index: 4;
    font-size: 13px;
    position: absolute;
    background-color: #e31d3e;
    width: 70px;
    padding: 10px 0;
    text-align: center;
    right: 5px;
    bottom: -10px;
}

.proposals__reccommend{
    z-index: 3;
    font-size: 13px;
    position: absolute;
    width: 100%;
    border-bottom: 2px solid #faa810;;
    text-align: center;
    left: 0;
    bottom: 0;
}

.proposals__reccommend::before{
    position: absolute;
    content: "Рекомендуем";
    width: 110px;
    background-color: #faa810;
    padding: 10px 0;
    text-align: center;
    left: 0;
    bottom: 0;
}

.proposals__mortgage {
    z-index: 4;
    font-size: 13px;
    position: absolute;
    width: 70px;
    background-color: #76ad0c;
    padding: 10px 0;
    text-align: center;
    right: 0;
    bottom: -10px;
}

.proposals__title {
    font-size: 16px;
    margin-bottom: 15px;
}

.proposals__info-wrapper {
    position: relative;
    padding: 15px;
    background-color: #fff;
}

.proposals__info {
    padding: 15px;
    padding-top: 0;
    line-height: 20px;
    width: 100%;
    font-weight: 300;
}

.proposals__price-wrapper {
    padding: 20px 15px;
    background-color: #fff;
    border-top: 1px solid  #E9EDF4;
}

.proposals__price-last {
    text-decoration: line-through;
    margin-right: 5px;
}

.proposals__price-new {
    font-weight: 400;
    font-size: 18px;
}    

.proposals{
    position: relative;
}

.proposals__main-title {
    position: relative;
    margin-bottom: 25px;
} 

.proposals__main-title::before{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    content: " ";
    width: 34px;
    height: 34px;
    left: 0;
    border-radius: 50%;
    vertical-align: middle;
}

.proposals__main-title--new::before{
    background-image: url("../images/other-sprites.png");
    background-repeat: no-repeat;
    background-color: #569aee;
    background-position: -41px -4px;
    vertical-align: middle;
}

.proposals__main-title--disc::before{
    color: #fff;
    background-color: #ee4864;
    content: "%";
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}

.request{
    position: relative;
    font-size: 15px;
    width: 100%;
    background-color: #d02f4a;
    margin-bottom: 25px;
    padding: 0;
    max-width: 330px;
}

.request:hover .request__text,
.request:focus .request__text{
    text-decoration: underline;
}

.request__text{
    display:block;
    text-align: left;
    background-color: #df3753;
    padding: 15px 20px;
    margin-left: 50px; 
    color: #fff;
}

.request__text:before{
    position: absolute;
    content: " ";
    width: 36px;
    height: 36px;
    background-image: url("../images/other-sprites.png");
    background-repeat: no-repeat;
    background-position: -292px -10px;
    left: 6px;
    top: 3px;
}

.request--morg{
    background-color: #9bc123;
    margin-left: auto;
    margin-right: 20px;
}

.request__text--morg{
    background-color: #9dca48;
}

.request__text--morg:before{
    position: absolute;
    content: " ";
    width: 36px;
    height: 36px;
    background-image: url("../images/other-sprites.png");
    background-repeat: no-repeat;
    background-position: -185px -10px;
    left: 8px;
    top: 1px;
}

@media (max-width: 992px) {
    .proposals__main-title{
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
        width: 100%;
    }

    .request--morg{
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    .request--sell{
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}

@media (max-width: 768px) {
    .proposals__wrapper .row{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .request{
       margin-right: 0;
       max-width: 100%;
    }

    .proposals__item{
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.modal-dialog{
    max-width: 450px; 
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.modal .btn[type="submit"]{
    background-color: #df3753;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.modal .input-group-text{
    background-color: transparent;
    border-right: none;
}


.modal-title{
    font-size: 23px;
}

.modal-header{
    border-bottom: none;
}

.modal-sell  .modal-header{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.modal .close{
    font-size: 40px;
    color: #d2dbe0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

.custom-select,
.input-group-text{
    font-weight: 300;
}

.btn-scroll{
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px;
    background-color: #c05486;
    color: #fff  !important;
    z-index: 4;
    display: none;
}

.btn-scroll::before{
    position: relative;
    display: inline-block;
    content: "";
    background-image: url("../images/sprite-icons-small.png");
    background-repeat: none;
    height: 13px;
    width: 13px;
    background-position: -62px 96px;
    margin-right: 5px;
}

.btn-scroll:hover,
.btn-scroll:focus{
    text-decoration: underline !important;
}

.assistance{
    background-color: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 50 auto;
}

.assistance__wr {
    margin-bottom: 25px;
    position: relative;
    padding-left: 70px;
}

.assistance__wr::before{
    position: absolute;
    content: " ";
    width: 52px;
    height: 52px;
    left: 0;
    top: -5px;
    border-radius: 50%;
    background-repeat: no-repeat;
}

@media (max-width: 992px){
    .assistance__title {
        margin-bottom: 10px;
    }
}

.assistance__wr--seller::before{
    background-color: #ef5d8d;
    background-image: url("../images/assistance_seller-sprites.png");
    background-position: -55px -200px;
}

.assistance__wr--lawyer::before{
    background-color: #ff9f49;
    background-image: url("../images/assistance_lawyer-sprites.png");
    background-position: -213px -75px;
}

.assistance_tinyу{
    color: #818487;
    font-size: 11px;
}


@media (max-width: 768px){
    .assistance__list:nth-child(2) {
        margin-bottom: 30px;
    }

    .assistance__link {
        margin: 0 auto;
    }
}

.assistance__item {
    margin-bottom: 10px;
}

.assistance__link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #456390;
    line-height: 20px;
    width: 305px;
    padding: 0 30px 0 80px;
    border: 1px solid rgb(234, 238, 244);
    min-height: 75px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.assistance__link:hover,
.assistance__link:focus{
    border: 1px solid rgb(204, 221, 127);
    color: rgb(204, 221, 127);
}

.assistance__list--lawyer  .assistance__link:hover,
.assistance__list--lawyer  .assistance__link:focus{
    border: 1px solid #ff9f49;
    color: #ff9f49;
}

.appartment{
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 40px;
    padding-top: 20px;
}

.appartment__title{
    font-size: 29px;
    margin-bottom: 10px;
}

.appartment__id-wrapper{
    margin-bottom: 30px;
}
.appartment__id-wrapper span{
    margin-right: 10px;
}
.appartment__rooms{
    text-decoration: underline;
    color: #456390 !important;
    margin-left: 5px;
}

.appartment__rooms:hover,
.appartment__rooms:focus{
    text-decoration: underline !important;
}

.appartment__price{
    display: block;
    position: relative;
    color: #7b971c;
    font-size: 30px;
    margin-bottom: 15px;
}

.appartment__price::before{
    position: relative;
    display: inline-block;
    content: " ";
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
    background-image: url("../images/other-sprites.png");
    background-repeat: no-repeat;
    background-position: -10px -10px;
    margin-right: 10px;
    vertical-align: middle;
}

.appartment__info-wr{
    margin-bottom: 10px;
}

.appartment__info-title{
    color: #314a6e !important;
    margin-right: 5px;
}

.appartment__info-block-wr{
    margin-bottom: 10px;
}

.appartment__info-block{
    display: inline-block;
}

.appartment__info-block-title{
    display: block;
}

.appartment__info-block-desc{
    display: block;
    color: #456390;
    font-size: 14px;
    line-height: 24px;
}

.appartment__feedback{
    padding: 20px;
    margin: 30px 0;
    background-color: #fff7e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.appartment__feedback-img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.appartment__feedback-wr{
    padding-left: 20px;
}

.appartment__feedback-title{
    font-size: 15px;
    margin-bottom: 10px;
}

.appartment__feedback-call{
    font-size: 25px;
    color: #212121;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:992px) {
    .appartment__feedback-call{
        font-size: 20px;
    }

    .appartment__btn--offer{
        font-size: 13px;
    }
    .appartment__change-app{
        font-size: 13px;
    }
}


.appartment__feedback-call:hover,
.appartment__feedback-call:focus{
    text-decoration: underline;
}


.appartment__feedback-btn{
    text-align: left;
    color: #97314c;
    background-color: transparent;
}

.appartment__feedback-btn:hover,
.appartment__feedback-btn:focus{
    text-decoration: underline;
}

.appartment__btn{
    position: relative;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
    background-color: #d02f4a;
}

.appartment__btn:last-child{
    margin-bottom: 30px;
}

.appartment__btn--offer{
    background-color: #3e87cc;
}

.appartment__btn:hover .appartment__btn-text,
.appartment__btn:focus .appartment__btn-text{
    text-decoration: underline;
}

.appartment__btn-text{
    display:block;
    text-align: left;
    padding: 15px;
    padding-right: 0;
    margin-left: 50px; 
    color: #fff;
    background-color: #df3753;
}

.appartment__btn--offer .appartment__btn-text{
    background-color: #4898e3;
}

.appartment__btn-text::before{
    position: absolute;
    content: " ";
    width: 36px;
    height: 36px;
    background-image: url("../images/other-sprites.png");
    background-repeat: no-repeat;
    background-position: -292px -10px;
    left: 6px;
    top: 3px;
}

.appartment__btn--offer .appartment__btn-text::before{
    background-position: -80px -10px;
    left: 5px;
    top: 10px;
}


.appartment__ls .appartment__title{
    font-size: 22px;
    margin-bottom: 15px;
}

.appartment__description{
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
}

.appartment__change-app-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
}

.appartment__change-app{
    display: inline-block;
    background-color: #ebf0f6;
    position: relative;
    color: #3077ae;
    padding: 15px 15px;
    border-radius: 24px;
}

.appartment__change-app:first-child{
    margin-right: 10px;
}

.appartment__change-app > .fa{
    color: #8fb5d2;
}

.appartment__change-app .fa-chevron-left{
    margin-right: 5px;
}

.appartment__change-app  .fa-chevron-right{
    margin-left: 10px;
}

.appartment__change-app:hover .appartment__change-app-text,
.appartment__change-app:focus .appartment__change-app-text{
    border-bottom: 1px dashed #a3c1d8;
    color: #3077ae;
}

.appartment__mortgage-link {
    display: block;
    padding: 10px 40px 10px 100px;
    border-radius: 10px;
    background-color: #ecf1f6;
    position: relative;
    margin-bottom: 15px;
    max-width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
} 

.appartment__mortgage-link:before {
    content: '';
    display: block;
    position: absolute;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #98b43f;
    background-image: url(../images/other-sprites.png);
    background-repeat: no-repeat;
    background-position: -168px center;
    top: -11px;
    left: 20%;
    margin-left: -33px;
    z-index: 2;
} 

.appartment__mortgage-link:hover,
.appartment__mortgage-link:focus{
    text-decoration: underline;
}

.appartment__img{
    margin-bottom: 20px;
}

.slider__wrapper{
    margin-bottom: 20px;
}


.lg-img-wrap .lg-object {
    max-width: 1000px !important;
}

.lightSlider{
    position: relative;
}

.lightSlider li  div {
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
    -webkit-filter: blur(10px);
            filter: blur(10px);
}

.active div{
    position: absolute;
}
.lightSlider  li img{
    max-height: 300px;
    -o-object-fit: contain;
       object-fit: contain;    
}

.lg-outer .lg-item:before,
.lg-outer .lg-images-wrap:before{
    height: 0 !important;
}


.lSSlideOuter .lSPager.lSGallery li{
    height: 50px; 
  /*  !important;*/
}

.lSSlideOuter .lSPager.lSGallery li img {
    height: 100%;
}

.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item img{
    height: 100%;
}

.lg-img-wrap{
    height: 100%;
}

.lightSlider li img{
    position: relative;
    z-index: 3;
    min-height: 300px;
}

.lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object{
    min-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
}


.lSSlideWrapper .lSSlide{
    height: 300px !important;
}

.container--application{
    padding-bottom: 40px;
}

@media (max-width: 991px){
.a.application__btn {
    margin-left: 0;
    }
}

.input-group  > p {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

#wpcf7-f42-o2 label{
    margin-right: 20px;
    margin-bottom: 20px;
}

#wpcf7-f42-o2 {
    margin-bottom: 20px;
}
.form-group  .nice-select{
    width: 100%;
    margin-bottom: 20px;
}

.nice-select .option{
    min-height: 30px !important;
    line-height: 30px !important;
}

.nice-select .list,
.nice-select .list li{
    width: 100%;
}

.navbar .navbar-toggler {
  background: transparent !important;
  margin-bottom: 15px;
}

.navbar .collapsed{
    margin-bottom: 0;
}

.navbar-toggler:focus,
.navbar-toggler:hover{
  outline: none;
  background: transparent !important;
  border-color: #fff;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
      -ms-transform: rotate(0deg) translate(0px, 0px);
          transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2){
  width: 30px;
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}
.navbar-toggler:active > .icon-bar:nth-child(2){
  width: 22px;
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
      -ms-transform: rotate(45deg) translate(5px, 4px);
          transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
      -ms-transform: rotate(-45deg) translate(4px, -4px);
          transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: ease all .2s;
  -o-transition: ease all .2s;
  transition: ease all .2s;
}

.input-group{
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.proposals__reccommend{
    display: none;
}

.nav-link{
    font-weight: 600;
}


.nav-link{
    padding-right: 7px !important;
    padding-left: 7px !important;
}

.proposals__info tr{
    border-bottom: 10px solid transparent;
}

.proposals__info tr:last-child{
    border-bottom: none;

}

.proposals__info{
    font-size: 18px;
}

.proposals__title {
    margin-bottom: 15px;
    font-size: 29px;
}


.container--articles .article__heading{
    font-size: 18px;
}
@media (max-width: 568px) {
    .container--articles  .article__heading,
    .container--articles  .article__content{
        text-align: center;
    }
}

.map{
    width: 100%;
    height: 300px;
    background-color: grey;
}

.proposals__title{
    min-height: 70px;
}

@media (max-width: 768px) {
    .proposals__title{
        font-size: 20px;
        min-height: 40px;
        line-height: 20px;
    }
}

#map{ 
    width:100%;
    height:400px;
    margin: 50px 0;
}

